body{
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  background-color: #dcedf7;
  font-family: "Montserrat", serif;
  border-radius: 20px;
  padding: 15px;
}
.button-add{
  font-family: "Montserrat", serif;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}
.button-delete{
  font-family: "Montserrat", serif;
  background: none;
  border: 0;
  font-size: 10px;
  color: red;
  font-weight: bolder;
}
.App{
  display: flex;
  justify-content: space-around;
}
.whole-plan{
  width: 70%;
  height: 100vh;
}
.myInput{
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-top: 30px;
}
textarea{
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: "Montserrat", serif;
  padding: 10px;
}
.selected{
  background-color: #fad106;
}
.default{
  background-color: #dcedf7;
}
p{
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", serif;
}
.field{
  font-family: "Montserrat", serif;
  font-size: 14px;
  color: black;
}